:root {
  --primary-color: #4BAF47;
  --secondary-color: #EEC044;
  --muted-color: #878680;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Used */
.green-bg {
  background-color: var(--primary-color);
}

.nav-link {
  color: var(--muted-color);
}

.nav-link.tabs.active {
  color: black;
}

.nav-link:hover {
  color: var(--primary-color);
}

.header-card {
  bottom: calc(-height);
}

.types-section a:hover {
  color: white;
}

.zoom-image {
  transition: transform 0.3s ease;
}

.card:hover .zoom-image {
  transform: scale(1.1);
}

.misn50 {
  margin-inline-start: -50%;
}

.misn20 {
  margin-inline-start: -20%;
}
